body {
  overflow-x: hidden;
  font-family: "Muli";
}
a {
  text-decoration: none;
}
h1 {
  font-size: 2.15rem !important;
}

.navbar-brand {
  margin: auto 100px;
}
.img-logo {
  height: 50px;
}
.nav-link {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #d9bd00 0%,
    #f11800 80%,
    #d9bd00 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px !important;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff !important;
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
  border: none;
}
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.line-break {
  width: 100%;
  max-width: 100%;
}

.graduate-rotational-section {
  margin: 50px 150px;
}
.graduate-rotational-section p {
  text-align: justify;
}
.img-arrow {
  height: 500px;
  float: right;
}
.register-now {
  width: 35%;
}
.img-member {
  height: 50px;
  width: 50px;
  border-radius: 75px;
  object-fit: cover;
}
.margin-to-next {
  margin-left: -15px;
}

.ellipse-left {
  margin-left: -100px;
  height: 200px;
}
.ellipse-overlap {
  height: 60px;
  margin-top: 150px;
  margin-left: -70px;
}

.numbers-section {
  margin: 0px 200px 20px 200px;
}
.numbers-section p {
  text-align: center;
}
.numbers-bar {
  margin: 0;
  background-color: #eeeeee;
  border-radius: 30px;
  padding: 25px 20px;
}

.grip_section {
  margin: 75px 275px;
}
.grip_section p {
  text-align: justify;
}
.grip-blocks-section {
  margin: 50px 200px;
}
.grip-blocks {
  background-color: #eeeeee;
  padding: 20px 0px 20px 0px;
  border-radius: 30px;
  height: 350px;
}
.grip-blocks h4 {
  font-size: 18px;
  font-weight: 600;
}
.grip-blocks-para {
  font-size: 16px;
}
.img-grip {
  height: 75px;
}
.ellipse-right {
  margin-left: 750px;
  height: 200px;
}
.ellipse-right-overlap {
  height: 50px;
  margin-left: 750px;
  margin-top: -350px;
}

.inspiring-section {
  margin: 75px 200px;
}
.inspiring-section p {
  text-align: justify;
}
.img-union {
  height: 350px;
  float: right;
}
.union-ellipse {
  height: 100px;
  position: relative;
  top: 20%;
  left: 85%;
}

.steps-to-apply {
  margin: 50px 400px;
}
.accordion-item {
  background-color: #eeeeee !important;
  border: none;
}
.accordion-item h2 {
  padding: 15px 20px;
}
.accordion-button {
  background-color: #eeeeee !important;
  color: black !important;
  font-weight: 600;
}
.listing-row p {
  color: #0079d5;
}
.ellipse-left-accordation {
  height: 200px;
  margin-left: -500px;
  margin-top: -550px;
}
.ellipse-overlap-accordation {
  height: 60px;
  margin-top: -425px;
  margin-left: -60px;
}
.ellipse-right-accordation {
  height: 200px;
  margin-top: -150px;
  margin-left: 1025px;
}
.ellipse-right-overlap-accordation {
  height: 60px;
  margin-top: -390px;
  margin-left: 1035px;
}

.footer {
  margin: 25px 200px;
}
.social-img {
  padding: 5px 3px;
}

.what-our-student-say {
  background-image: url("img/rectangle.png");
}
.what-our-student-say h1 {
  color: #ffff;
  text-align: center;
}
.custom-card-row {
  background-color: #fff;
  border-radius: 25px;
  padding: 30px 35px;
  position: relative;
  margin: auto;
  height: 500px;
}
.main-row {
  padding: 75px 0px;
}
.testimonial-row {
  margin: 75px auto;
}
.first-slide {
  position: relative;
  left: -100px;
  opacity: 0.2;
}
.thrid-slide {
  position: relative;
  right: -100px;
  opacity: 0.2;
}
.grey-left {
  margin-top: -25px;
  margin-left: -310px;
}
.grey-right {
  float: right;
  margin-top: -25px;
  margin-right: -75px;
}
.grey-left-arrow {
  margin-top: -30px;
  margin-left: -43px;
}
.grey-right-arrow {
  float: right;
  margin-top: -15px;
  margin-right: -55px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.75rem !important;
  }
  .navbar-brand {
    margin: 0;
  }
  .img-logo {
    height: 40px;
  }

  .graduate-rotational-section {
    margin: 10px 25px !important;
  }
  .only-desktop {
    display: none;
  }
  .img-arrow {
    height: 250px;
    text-align: center;
    display: none;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .register-now {
    width: 50% !important;
    margin: auto;
  }

  .ellipse-left {
    margin-left: -75px;
    height: 150px;
  }
  .ellipse-overlap {
    height: 45px;
    margin-top: 100px;
    margin-left: -55px;
  }

  .numbers-section {
    margin: 50px auto !important;
  }
  .numbers-bar {
    border-radius: 0px !important;
  }

  .grip_section {
    margin: 50px 25px !important;
  }
  .grip-blocks-section {
    margin: 0px 25px !important;
  }
  .grip-blocks {
    border-radius: 15px;
    height: auto;
  }
  .mobile-blocks {
    margin-top: 30px;
  }
  .grip-blocks h4 {
    font-size: 16px;
    font-weight: 600;
  }
  .grip-blocks-para {
    font-size: 14px;
  }
  .ellipse-right,
  .ellipse-right-overlap,
  .ellipse-left,
  .ellipse-overlap,
  .union-ellipse {
    display: none;
  }

  .inspiring-section {
    margin: 50px 25px !important;
  }
  .img-union {
    height: 150px;
  }

  .steps-to-apply {
    margin: 50px 20px !important;
  }
  .ellipse-left-accordation,
  .ellipse-overlap-accordation {
    display: none;
  }
  .ellipse-right-accordation,
  .ellipse-right-overlap-accordation {
    display: none;
  }

  .footer {
    margin: 25px 25px;
  }

  .first-slide,
  .thrid-slide,
  .grey-left,
  .grey-right,
  .grey-left-arrow,
  .grey-right-arrow {
    display: none;
  }
  .main-row {
    padding: 50px 0px;
  }
  .testimonial-row {
    margin: 25px auto;
  }
}

@media screen and (max-width: 992px) {
  .graduate-rotational-section {
    margin: 50px 30px;
  }
  .img-arrow {
    height: 300px;
  }
  .register-now {
    width: 50%;
  }
  .numbers-section {
    margin: 50px 30px;
  }
  .grip_section {
    margin: 50px 50px;
  }
  .grip-blocks-section {
    margin: 50px 30px;
  }
  .grip-blocks-section .col-7 {
    margin: auto 10px;
  }
  .inspiring-section {
    margin: 50px 30px;
  }
  .grey-left {
    margin-left: -180px;
  }
  .steps-to-apply {
    margin: 50px 50px;
  }
  .footer {
    margin: 25px 30px;
  }
  .ellipse-right,
  .ellipse-right-overlap,
  .ellipse-right-accordation,
  .ellipse-right-overlap-accordation,
  .union-ellipse {
    display: none;
  }
}

.carousel {
  overflow: hidden;
  max-width: 100%;
  position: relative;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}

.carousel .carousel__item img {
  width: 100px;
  height: 100px !important;
  object-fit: cover;
  max-width: 600px;
  height: auto;
  border-radius: 75px;
}

.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.carousel .carousel__actions button#carousel__button--prev {
  margin-left: -10px;
}

.carousel .carousel__actions button#carousel__button--next {
  margin-right: 15px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}
